In [1]:
#import our libraries
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] =(12,8)

#remove unecessary warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
#read in our dataset
imdb = pd.read_csv(r'C:\Users\HP-PC\Desktop\marketing\iMDbTop250Movies.csv')

In [3]:
#get first ten rows of our dataset
imdb.head(10)

,Title,year,Rating,Run Time,imdb_rating,Budget,Gross_worldwide,Director,Metascore
0,On the Waterfront,1954,Approved,1h 48m,8.1,"$910,000 (estimated)",NaN,Elia Kazan,91.0
1,My Father and My Son,2005,Not Rated,1h 52m,8.2,NaN,"$18,612,999",Cagan Irmak,NaN
2,Avengers: Endgame,2019,PG-13,3h 1m,8.4,"$356,000,000 (estimated)","$2,797,501,328",Anthony Russo,78.0
3,1917,2019,R,1h 59m,8.2,"$95,000,000 (estimated)","$384,919,389",Sam Mendes,78.0
4,Snatch,2000,R,1h 42m,8.3,"£6,000,000 (estimated)","$83,557,872",Guy Ritchie,55.0
5,Star Wars: Episode V - The Empire Strikes Back,1980,PG,2h 4m,8.7,"$18,000,000 (estimated)","$538,375,067",Irvin Kershner,82.0
6,The Gold Rush,1925,Passed,1h 35m,8.2,"$923,000 (estimated)","$26,975",Charles Chaplin,NaN
7,Life Is Beautiful,1997,PG-13,1h 56m,8.6,"$20,000,000 (estimated)","$230,098,753",Roberto Benigni,59.0
8,The Shawshank Redemption,1994,R,2h 22m,9.3,"$25,000,000 (estimated)","$28,884,504",Frank Darabont,81.0
9,Gone Girl,2014,R,2h 29m,8.1,"$61,000,000 (estimated)","$369,330,363",David Fincher,79.0

In [4]:
#clean! clean !! clean!!!
#check for missing data in %

for col in imdb.columns:
        pct_missing = np.mean(imdb[col].isnull())
        print('{} - {}%'.format(col, pct_missing))

Title - 0.0%
year - 0.0%
Rating - 0.004%
Run Time - 0.004%
imdb_rating - 0.0%
Budget - 0.088%
Gross_worldwide - 0.028%
Director - 0.0%
Metascore - 0.088%

In [5]:
#get the data shape of the missing values using booleans. 
imdb_missing = imdb.isna()
imdb_missing.head()

,Title,year,Rating,Run Time,imdb_rating,Budget,Gross_worldwide,Director,Metascore
0,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,True,False,False,True
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [6]:
#counting the number of True's and False
imdb_missing.sum()

Title               0
year                0
Rating              1
Run Time            1
imdb_rating         0
Budget             22
Gross_worldwide     7
Director            0
Metascore          22
dtype: int64

In [7]:
df = imdb.copy()

since our dataset has neligible number of missing values, with the budget and Metascore column having the highest number(22), we can go ahead and drop them.

In [8]:
#But first let's check the shape of our dataset
df.shape

(250, 9)

our data has 250 rows and 9 columns

In [9]:
#if any NA is present, drop the rows or column
nm = df.dropna(how = 'any')
nm.shape
nm.head()

,Title,year,Rating,Run Time,imdb_rating,Budget,Gross_worldwide,Director,Metascore
2,Avengers: Endgame,2019,PG-13,3h 1m,8.4,"$356,000,000 (estimated)","$2,797,501,328",Anthony Russo,78.0
3,1917,2019,R,1h 59m,8.2,"$95,000,000 (estimated)","$384,919,389",Sam Mendes,78.0
4,Snatch,2000,R,1h 42m,8.3,"£6,000,000 (estimated)","$83,557,872",Guy Ritchie,55.0
5,Star Wars: Episode V - The Empire Strikes Back,1980,PG,2h 4m,8.7,"$18,000,000 (estimated)","$538,375,067",Irvin Kershner,82.0
7,Life Is Beautiful,1997,PG-13,1h 56m,8.6,"$20,000,000 (estimated)","$230,098,753",Roberto Benigni,59.0

In [10]:
imdb3 = nm.copy()

In [11]:
imdb3.dtypes

Title               object
year                 int64
Rating              object
Run Time            object
imdb_rating        float64
Budget              object
Gross_worldwide     object
Director            object
Metascore          float64
dtype: object

Most of our columns are strings except for the 'Year', 'imdb_rating' & 'Metascore' columns. So we have to convert the Gross_worldwide , Budget and Run time columns into integers since it is filled with numbers

In [12]:
#Remove the '(estimated)' from the budget column.
#first, we remove the non-regular expressions()
imdb3['Budget'] = imdb3['Budget'].str.replace(r'\W', "")
imdb3['Budget']

#next, we remove the string "estimated" appended on the figures
imdb3['Budget'] = imdb3['Budget'].str.replace("estimated", "")
imdb3['Budget'] = imdb3['Budget'].str.replace(",","")


#remove the dollar sign($) in the Gross_worldwide column
imdb3['Gross_worldwide'] = imdb3['Gross_worldwide'].str.replace("$", "")

#remove the commas in Gross_worldwide column
imdb3['Gross_worldwide'] = imdb3['Gross_worldwide'].str.replace(",","")

In [13]:
#convert  the values that are in another currency in the budget columns to dollars and input them
imdb3.loc[169] =['Metropolis','1927', 'Not Rated', '2h 33m', '8.3','14500000', '1349711','Fritz Lang', '98' ]
imdb3.loc[238] =['Léon: The Professional','1994','R','1h 50m', '8.5','16000000','19552639','Luc Besson','64']
imdb3.loc[46] =['Blade Runner', '1982','R','1h 57m', '8.1','30000000','41722424', 'Ridely Scott','84' ]
imdb3.loc[171]=['City of God','2002','R','2H 10m','8.6','3300000','30680793','Fernando Meirelles','  79']

In [14]:
#convert Budget and Gross_worldwide  from strings to int and Metascore from float to int
imdb3['Budget'] = imdb3['Budget'].astype('object').astype('int64')
imdb3['Gross_worldwide'] = imdb3['Gross_worldwide'].astype('object').astype('int64')
imdb3['Metascore'] = imdb3['Metascore'].astype('float').astype('int64')

In [15]:
imdb3.dtypes

Title              object
year               object
Rating             object
Run Time           object
imdb_rating        object
Budget              int64
Gross_worldwide     int64
Director           object
Metascore           int64
dtype: object

In [16]:
imdb3.head()

,Title,year,Rating,Run Time,imdb_rating,Budget,Gross_worldwide,Director,Metascore
2,Avengers: Endgame,2019,PG-13,3h 1m,8.4,356000000,2797501328,Anthony Russo,78
3,1917,2019,R,1h 59m,8.2,95000000,384919389,Sam Mendes,78
4,Snatch,2000,R,1h 42m,8.3,6000000,83557872,Guy Ritchie,55
5,Star Wars: Episode V - The Empire Strikes Back,1980,PG,2h 4m,8.7,18000000,538375067,Irvin Kershner,82
7,Life Is Beautiful,1997,PG-13,1h 56m,8.6,20000000,230098753,Roberto Benigni,59

In [17]:
imdb6 =imdb3.copy()

In [18]:
imdb6.dtypes

Title              object
year               object
Rating             object
Run Time           object
imdb_rating        object
Budget              int64
Gross_worldwide     int64
Director           object
Metascore           int64
dtype: object

In [19]:
#split the Run Time column into hours and min
imdb6[["Hour", "Min"]] = imdb6["Run Time"].str.split("h", n=1, expand=True)

In [20]:
# clean the hour by changing the values in row 171
imdb6.loc[171]=['City of God','2002','R','2H 10m','8.6','3300000','30680793','Fernando Meirelles','79',' 2','10m']

In [21]:
#Convert data types to int
imdb6['Hour'] = imdb6['Hour'].astype('object').astype('int64')
imdb6['Budget'] = imdb6['Budget'].astype('object').astype('int64')
imdb6['Gross_worldwide'] = imdb6['Gross_worldwide'].astype('object').astype('int64')
imdb6['imdb_rating'] = imdb6['imdb_rating'].astype('object').astype('float')
imdb6['imdb_rating']=imdb6['imdb_rating'].astype('float').astype('int64')
imdb6['Metascore'] = imdb6['Metascore'].astype('object').astype('int64')
imdb6['year']=imdb6['year'].astype('object').astype('int64')

In [22]:
#remove the 'm' in Min column
imdb6['Min']=imdb6['Min'].str.replace("m","")

In [23]:
imdb_new = imdb6
imdb_new.head()
imdb_new.dtypes

Title              object
year                int64
Rating             object
Run Time           object
imdb_rating         int64
Budget              int64
Gross_worldwide     int64
Director           object
Metascore           int64
Hour                int64
Min                object
dtype: object

In [24]:
#save in csv to continue further cleaning in excel
to_csv = imdb_new.to_csv(r'C:\Users\HP-PC\Desktop\imdb.csv',index = False)

In Excel, i will convert the Hours column to min by Multiplying by 60 and add the result to the Min to get my Run time in Minutes.